<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/output.css">
    <title>home</title>
</head>

<body>
    <header class="z-50 fixed top-0 w-full shadow bg-white">
        <nav id="main-nav" class="max w-5xl mx-auto p-6 flex items-center justify-between bg-white">
            <a href="top" aria-label="Page d'accueil du site">
                <span class="text-lg lg:text-xl justify-center" aria-hidden="true">
                    Tax <strong><span class="text-rose-600">IQ</span></strong>
                </span>
            </a>
            
            <button aria-label="toggle button" aria-expanded="false" id="menu-btn" class="cursor-pointer w-7 md:hidden text-xs">
                <i class='bx bxs-objects-horizontal-right'></i>
            </button>
    
            <ul id="toggle-menu" class=" absolute top-full left-0 -translate-y-full -z-10 text-gray-800 borde-b border-gray-200 flex flex-col items-center md:static md:z-10 md:w-win md:transform-none md:border-none md:flex-row">
                <li class="py-4 md:py-0 md:mr-6">
                    <a href="#" class="text-sm uppercase font-semibold w-full hover:text-rose-600">Accueil </a>
                </li>
                <li class="py-4 md:py-0 md:mr-6">
                    <a href="services.html" class="text-sm uppercase font-semibold w-full hover:text-rose-600">Services</a>
                </li>
                <li class="py-4 md:py-0 md:mr-6">
                    <a href="informations.html" class="text-sm uppercase font-semibold w-full hover:text-rose-600">Informations</a>
                </li>
                <li class="py-4 md:py-0 md:mr-6">
                    <a href="aide.html" class="text-sm uppercase font-semibold w-full hover:text-rose-600">aide</a>
                </li>
                <li class="py-4 md:py-0 md:mr-6">
                    <a href="login.html" class="text-sm uppercase font-semibold w-full hover:text-rose-600">Connexion</a>
                </li>
                <li class="py-4 md:py-0 md:mr-6">
                    <a href="signup.html" class="text-sm uppercase font-semibold w-full hover:text-rose-600">Sign Up</a>
                </li>
                <li class="py-4 md:py-0 md:mr-6">
                    <a href="dashbord.html" class="text-sm uppercase font-semibold w-full hover:text-rose-600">dashbord</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="mt-mept mr-mepd ml-mepg mb-mepb">
        <section>
            <div class="bg-slate-300 flex h-1/2 justify-center items-center text-center  font-extrabold uppercase text-5xl pt-pt100 bg-back  bg-no-repeat bg-center ">
                <div class=" pt-20 relative">
                    <img src="../img/man.png" alt="">
                    <img src="../img/elements.png" class="absolute left-0 top-0">
                </div> 
                <div class="hidden md:inline-block">
                    <p>
                        Bienvenue sur  TaxIQ <br>
                        Votre Solution Fiscale Intelligente
                    </p>
                </div>
            </div>
        </section>
    
        <section>
            <h1 class="text-3xl font-semibold text-gray-800 text-center py-8">
                Pourquoi choisir <br>  Tax<span class="text-rose-600">IQ </span>
            </h1>
            <div class="lg:grid grid-cols-3 gap-4 md:grid grid-cols-1 gap-4">
                <div class="text-justify col-span-2 bg-red-200 py-8 bg-[url('../static/img/why2.svg')]  bg-no-repeat bg-center rounded-lg">
                    <h1 class="text-center"><span class="text-rose-600">Calcul Précis d'Impôts </span> <br> TaxIQ effectue des calculs fiscaux précis en fonction de votre <br> 
                        situation financière, en prenant en compte les dernières réglementations fiscales</h1>
                </div>
                <div class="bg-orange-100 rounded-lg bg-[url('../img/why2.svg')]  bg-no-repeat bg-center text-justify py-8 ">
                    <h1 class="text-center"><span class="text-rose-600">Calcul Précis d'Impôts </span> <br> Accédez à des guides fiscaux complets et à des conseils personnalisés pour optimiser vos déclarations fiscales et maximiser vos économies</h1>
                </div>
                <div class=" rounded-lg bg-amber-100 bg-[url('../img/calendarnew.svg')]  bg-no-repeat bg-center py-8 " >
                    <h1 class="text-center"> <span class="text-rose-600" >Calendrier Fiscal:</span> <br> Recevez des rappels de dates limites pour ne jamais manquer une échéance fiscale importante.</h1>
                </div>
                <div class="rounded-lg col-span-2 bg-lime-200 bg-[url('../img/guide.svg')]  bg-no-repeat bg-center py-8 ">
                    <h1 class="text-center">
                        <span class="text-rose-600">Guides et Conseils : </span> <br> Accédez à des guides fiscaux complets et à des conseils personnalisés pour optimiser vos déclarations fiscales et maximiser vos économies.</h1>
                </div>
              </div>
        </section>
        
        <section>
            <h1 class="text-3xl font-semibold text-gray-800 mb-6 text-center py-8">
                F<span class="text-rose-600 py-8">o</span>rum
            </h1>
            <div class="bg-slate-300 flex h-1/2 justify-center items-center text-center">
                <div class="">
                    <img src="../img/bm.svg" class="hidden md:inline-block">
                </div>
                <div>
                   <span class=" font-extrabold uppercase">
                    Une communauté passionnée. 
                   </span> <br> 
                   Rencontrez des personnes partageant des informations et des conseils sur tous les aspects de la fiscalité.<br>
                
                   <span class=" font-extrabold uppercase">
                    Réponses à vos questions.
                   </span> 
                   <br>  Obtenez des réponses à vos questions sur la déclaration de revenus, les déductions fiscales, les changements de réglementation et plus encore.<br>
                    
                   <span class=" font-extrabold uppercase">
                    Expertise disponible.
                   </span> <br> 
                   Nos membres expérimentés et nos experts fiscaux sont là pour vous guider dans le monde complexe des impôts.<br> 
                    
                   <span class=" font-extrabold uppercase">
                    Partagez vos connaissances.
                   </span> <br>
                   Partagez vos expériences et astuces pour aider les autres membres.<br>
                    
                   <a href="#" class="lg:rounded-full inline-flex items-center py-4 px-3 bg-slate-700 text-white rounded-lg text-sm font-medium hover:bg-blue-900">
                    Rejoignez-nous
                   </a>  
                </div>
                
              </div>
        </section>
    
        <section>
            <h1 class="text-3xl font-semibold text-gray-800 mb-6 text-center py-8">
                Imp<span class="text-rose-600 py-8">o</span>t
            </h1>
            <div class="grid grid-cols-2 grid-rows-3 gap-4">
                <div class="justify-center items-center text-center bg-slate-700 hover:bg-blue-900 cursor-pointer rounded-full">
                    <a href="#" class="lg:rounded-full inline-flex items-center py-4 px-3 text-white rounded-lg text-sm font-medium">
                        Impot sur Revenu
                       </a> 
                </div>
                <div class=" justify-center items-center text-center bg-slate-700 hover:bg-blue-900 cursor-pointer rounded-full">
                    <a href="#" class="lg:rounded-full inline-flex items-center py-4 px-3 text-white rounded-lg text-sm font-medium ">
                        Revenu d'affaire
                    </a> 
                </div>
                <div class=" justify-center items-center text-center bg-slate-700 hover:bg-blue-900 cursor-pointer rounded-full">
                    <a href="#" class="lg:rounded-full inline-flex items-center py-4 px-3 text-white rounded-lg text-sm font-medium">
                        Impot sur salaire
                    </a> 
                </div>
                <div class="justify-center items-center text-center bg-slate-700 hover:bg-blue-900 cursor-pointer rounded-full">
                    <a href="#" class="lg:rounded-full inline-flex items-center py-4 px-3 text-white rounded-lg text-sm font-medium">
                        Retenu sur loyer
                    </a> 
                </div>
                <div class=" justify-center items-center text-center bg-slate-700 hover:bg-blue-900 cursor-pointer rounded-full">
                    <a href="#" class="lg:rounded-full inline-flex items-center py-4 px-3 text-white rounded-lg text-sm font-medium">
                        taxe d'habitation
                    </a> 
                </div>
                <div class="justify-center items-center text-center bg-slate-700 hover:bg-blue-900 cursor-pointer rounded-full">
                    <a href="#" class="lg:rounded-full inline-flex items-center py-4 px-3  text-white rounded-lg text-sm font-medium">
                        TPU
                    </a> 
                </div>
                <div class=" justify-center items-center text-center bg-slate-700 hover:bg-blue-900 cursor-pointer rounded-full">
                    <a href="#" class="lg:rounded-full inline-flex items-center py-4 px-3  text-white rounded-lg text-sm font-medium">
                        Patente
                    </a>
                </div>
            </div>
            <div class="justify-center items-center text-center">
                <h2 class="text-3xl font-semibold text-gray-800 mb-6 text-center">
                Commencez par faire vos calcul d'impot rapidement et efficacement
                </h2>
            </div>
        </section>
    
        <section class="justify-center items-center">
            <h1 class="text-3xl font-semibold text-gray-800 mb-6 text-center py-8">
                Obtenez les meilleurs n<span class="text-rose-600 py-8">e</span>ws
            </h1>
            <div class="lg:flex">
                <div class="justify-center items-center">
                    <div class="w-[640px] h-[400px] overflow-hidden max-w-taxmw my-100px mx-auto border-solid border-slate-950">
                        <div class="flex animate-wiggle">
                            <img src="../img/carouselle/1.png" alt="">
                            <img src="../img/carouselle/2.png" alt="">
                            <img src="../img/carouselle/3.png" alt="">
                            <img src="../img/carouselle/4.png" alt="">
                            <img src="../img/carouselle/1.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="text-center py-4">
                    <span class="text-3xl font-semibold text-gray-800 mb-6 text-center py-8">
                        Obtenez la meilleurs des news aussi rapidement qu'elle est sorti 24h/24 7jr/7
                    </span> <br>         
                    <a href="#" class="inline-flex items-center py-4 px-3 bg-slate-700 hover:bg-blue-900 cursor-pointer rounded-full">
                        Rejoignez-nous
                    </a>
                </div>
            </div>
        </section>
    
        <section>
            <div class="flex h-1/2 justify-center items-center text-center ">
                <div class="justify-center items-center text-center ">
                    <h1 class="text-3xl font-semibold text-gray-800 mb-6 py-8">
                        Restez <span class="text-rose-600 py-8">a</span> Jour
                    </h1>
                    <form class="justify-center items-center text-center ">
                        <label for="email">Address email</label>
                        <input type="email" id="email" placeholder="email@gmail.com" class="my-2 border-solid border-slate-950">
                        <button type="submit" class="lg:rounded-full inline-flex items-center py-4 px-3 bg-slate-700 text-white rounded-lg text-sm font-medium hover:bg-blue-900"> Soubscrivez</button>
                    </form>
                </div>
                <div class="left">
                    <img src="../static/img/news.png" alt="" class="img-img">
                </div>
            </div>
            
        </section>
    </div>

    <footer class="flex flex-col bg-amber-100">
        <div class="grid grid-cols-5 gap-4 text-center">
            <div class="">
                <img src="../img/logonew.png" alt="" class="w-40px">
            </div>
            
            <div class="bloc footer-service">
                <h3 class="mb-4"> informations </h3>
                <ul class="list-service">
                    <li> <a href="" class="hover:text-rose-600">Comment ça marche</a></li>
                    <li> <a href="" class="hover:text-rose-600">Faq</a></li>
                    <li> <a href="" class="hover:text-rose-600">Qui sommes nous</a></li>
                    <li> <a href="" class="hover:text-rose-600">Services</a></li>
                    <li> <a href="" class="hover:text-rose-600">Forum</a></li>
                    <li> <a href="" class="hover:text-rose-600">Bog</a></li>
                    <li> <a href="" class="hover:text-rose-600">Aide</a></li>
                    <li> <a href="" class="hover:text-rose-600">Contact</a></li>
                </ul>
            </div>

            <div class="bloc footer-service">
                <h3 class="mb-4"> Ressources fiscales  </h3>
                <ul class="list-service">
                    <li> <a href="" class="hover:text-rose-600">Bénin</a></li>
                    <li> <a href="" class="hover:text-rose-600">Burkina Faso</a></li>
                    <li> <a href="" class="hover:text-rose-600">Guinée-Bissau</a></li>
                    <li> <a href="" class="hover:text-rose-600">Mali</a></li>
                    <li> <a href="" class="hover:text-rose-600">Niger</a></li>
                    <li> <a href="" class="hover:text-rose-600">Sénégal</a></li>
                    <li> <a href="" class="hover:text-rose-600">Togo</a></li>
                </ul>
            </div>

            <div class="bloc footer-service">
                <h3 class="mb-4"> Articles de blog </h3>
                <ul class="list-service">
                    <li> <a href="" class="hover:text-rose-600">L’importance de la formalisation</a></li>
                    <li> <a href="" class="hover:text-rose-600">L’origine de le la fiscalité</a></li>
                    <li> <a href="" class="hover:text-rose-600">A quoi sert les impôts</a></li>
                    <li> <a href="" class="hover:text-rose-600">C’est quoi le redressement fiscal</a></li>
                </ul>
            </div>

            <div class="bloc footer-service">
                <ul class="list-service mb-4">
                    <li> <a href="" class="hover:text-rose-600">Copyright</a></li>
                    <li> <a href="" class="hover:text-rose-600">olitique de confidentialité </a></li>
                    <li> <a href="" class="hover:text-rose-600">Termes et conditions d’utilisations</a></li>
                    <li> <a href="" class="hover:text-rose-600">Politique de sécurité </a></li>
                    <li> <a href="" class="hover:text-rose-600">Facebook</a></li>
                    <li> <a href="" class="hover:text-rose-600">LinkedIn </a></li>
                    <li> <a href="" class="hover:text-rose-600">Twitter </a></li>
                    <li> <a href="" class="hover:text-rose-600">Adresse électronique</a></li>
                    <li> <a href="" class="hover:text-rose-600">Google </a></li>
                    <li> <a href="" class="hover:text-rose-600">création de compte </a></li>
                    <li> <a href="" class="hover:text-rose-600">Connexion</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>