<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/output.css">
    <title>home</title>
</head>

<body>
    <div class="mt-mept mr-mepd ml-mepg mb-mepb flex justify-center items-center min-h-screen">
        <div class="w-96 border border-solid border-gray-600 bg-transparent shadow-lg rounded-lg pt-7 pb-7 pr-10 pl-10">
            <form action="">
                <h1 class="text-3xl text-center">Login</h1>
                <div class="w-full h-12 my-7 mx-0 ">
                    <input class="w-full h-full rounded-lg outline-none border border-solid border-gray-600 rounded-3xl text-base " type="text", placeholder="Username">
                </div>
                <div class="w-full h-12 my-7 mx-0 ">
                    <input class="w-full h-full rounded-lg outline-none border border-solid border-gray-600 rounded-3xl text-base " type="password", placeholder="Password">
                </div>

                <div class="flex">
                    <a href="#" class="lg:rounded-full inline-flex items-center py-4 px-3 bg-slate-700 text-white rounded-lg text-sm font-medium hover:bg-blue-900">
                     connexion
                    </a>  
                    <label>
                    <input class="w-full h-5 rounded-none outline-none border border-solid border-gray-600 rounded-3xl text-base " type="checkbox">
                    Se souvenir de moi
                    </label>
                </div>
                
                <a href="#" class="lg:rounded-full inline-flex items-center py-4 px-3 text-white rounded-lg text-sm font-medium">
                    Mot de passe oublie?
                </a> 
                <div class="register-link">
                    <p>Avez-vous un compte? <a href="{% url 'signup' %}"> Creer un compte</a> </p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>